html{
    background-color: blue;
}

div{
    width: 200px;
    height: 200px;
}

.red_box{
    background-color:red
}

.red{
    color: red;
}

.blue_box{
    background-color: blue;
}

.blue{
    color: blue;
}