<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasson</title>
</head>
<body>
    <h1>I'm Jasson</h1>
    <hr>
    <img src="static/image.png" alt="meme" style="width:100px; border-radius: 50px; height: 100px;">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos delectus error repudiandae sequi consectetur iusto quis illo earum explicabo at hic, unde omnis eius neque porro debitis fugiat veritatis enim!</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laudantium similique, ipsum quibusdam id reiciendis ducimus facilis facere animi a. Voluptatem dolorem sint voluptatibus deserunt incidunt sapiente velit. Vitae, provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis expedita quisquam incidunt obcaecati consequatur, aspernatur ullam atque, in minus debitis, hic corrupti? Illum corrupti itaque expedita quia neque mollitia voluptatem.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur eveniet ut atque voluptatem ipsa. Vitae eius neque quaerat odio iste saepe amet dolorum deserunt rerum, laboriosam sint fugiat hic nemo!</p>
    <hr>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam totam obcaecati quasi, dolorum ratione laborum, suscipit repellat reiciendis modi cupiditate consequuntur perferendis saepe veniam officiis vel temporibus quod quisquam corrupti!</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium expedita nam illo cupiditate quasi temporibus eos modi consequatur pariatur adipisci tenetur officiis error, porro nihil commodi facere quas ipsum ipsam.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet iure neque accusamus, modi optio nostrum nesciunt quis, aut explicabo labore inventore facere repudiandae corrupti sit quae distinctio cupiditate porro sed.</li>
    </ul>

</body>
</html>