html{
    background-color: black;
    
}

img{
    width: 50%;
    height: 50%;
    display: block;
    margin:auto;
    border-style: solid;
    border-color: yellow;
}

h1{
    color: yellow;
    display:flex;
    justify-content: center;
    size: 50%;
}

p{
    display: flex;
    justify-content: center;
    size:100%
}